.selection-title {
  font-size: large;
  padding: 10%;
  text-align: center;
}

.selection-categories {
  text-align: center;
  padding: 0 15%;
}

.selection-grid-item {
  display: flex;
  padding: 0px 50px;
}

.selection-category {
  margin: 20px auto;
<<<<<<< HEAD:src/client/components/Selection.css
  height: 100px;
  width: 300px;
=======
  width: 100%;
>>>>>>> b500f4becba51d109ae695338b09cd4a4c764fc6:src/client/components/GridSelection.css
}

.selection-category-content {
  display: flex;
<<<<<<< HEAD:src/client/components/Selection.css
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 5px -5px #262626;
  background-color: whitesmoke;
  border-radius: 7px;
  font-size: 150%;
=======
  height: 150px;
  box-shadow: 2px 2px 5px -5px #262626;
  background-color: whitesmoke;
  border-radius: 7px;
  font-size: 28px;
>>>>>>> b500f4becba51d109ae695338b09cd4a4c764fc6:src/client/components/GridSelection.css
  font-family: Rajdhani;
  font-weight: bold;
}

.selection-category-text {
  margin: auto;
}

.selection-category-content-done {
  background-color: gray;
}

.selection-category-pic {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}
