/* Menu */
.portal-menu {
  text-align: center;
  z-index: 9; /* TODO constant for this? */
}

.portal-menu-item {
  padding-left: 30px;
  padding-top: 10px;
  font-family: Rajdhani;
  text-align: center;
  margin: 15px 10px;
}

.portal-menu-item-link {
  display: flex;
  flex-direction: column;
}

.portal-menu-item-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: auto;
}

.menu-items {
  position: absolute;
  right: 0px;
  display: flex;
  padding-right: 40px;
}

.portal-title {
  line-height: 60px;
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  color: white;
  padding: 20px;
}

.portal-header {
  width: 100%;
  display: flex;
  background-color: #262626;
}

.copyright {
  width: 40%;
  margin: none;
  float: left;
  padding: 20px;
}

.contact {
  float: right;
  width: 40%;
  text-align: right;
  padding: 20px;
}

.portal-footer {
  width: 100%;
  background-color: #262626;
  color: #908e8d;
  display: inline-block;
  margin-bottom: -50px;
}
