.selection-title {
  font-size: large;
  padding: 10%;
  text-align: center;
}

.selection-categories {
  text-align: center;
  padding: 0 15%;
  /*height: 100vh;*/
}

.selection-grid-item {
  display: flex;
}

.selection-category {
  margin: 20px auto;
  height: 125px;
  width: 275px;
}

/*.container{
    display: flex;
    height: 50px;
    width: 70px;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    /*flex-wrap: wrap;
}*/

.selection-category-content {
  display: flex;
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 5px -5px darkslategray;
  background-color: whitesmoke;
  border-radius: 7px;
  font-size: 150%;
  font-family: Rajdhani;
  font-weight: bold;
}

.selection-category-text {
  margin: auto;
}

.selection-category-text-subtitle {
  font-size: 80%;
}

.selection-category-content-done {
  background-color: gray;
}

.selection-category-pic {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}
