/* Word Search */

@font-face {
  font-family: RajdhaniRegular;
  src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf);
}

.portal-body {
  background-color: white;
}

.wordsearch-grid-area {
  width: 450px;
  margin-top: 1.5rem;
  margin-left: auto;
  // margin-right: auto;
}

.wordsearch-grid {
  border: 1px solid;
}

.wordsearch-row {
  width: 100%;
  display: inline-flex;
}

.wordsearch-letter {
  padding: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: default;
}

.wordsearch-letter-start {
  background-color: green;
}

.wordsearch-letter-incorrect{
  background-color: red;
  color:white;
}

.wordsearch-letter-completed {
  background-color: #bcd9d9;
  color: white; }

.wordsearch-words {
  width: 150px;
  background-color: #bcd9d9;
  border-radius: 10px;
  box-shadow: 3px 3px #F8F8F8;
  color: white;
  text-align: center;
  font-family: RajdhaniRegular;
  font-size: 20px;
  margin-top: 1.5rem;
  padding-top: 1rem;
  margin-right: auto;
}

.wordsearch-word {
  margin: 0.5rem;
}

.strikethrough {
  text-decoration: line-through;
  color: white;
}

.wordsearch-submit {
  height: 100px;
}

.buttons {
  margin-bottom: 1.5rem;
  // text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #f5bf53;
  color: white;
  text-align: center;
  padding: 12px 35px;
  font-size: 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(68, 68, 68, 0.6);
  border: none;
  font-family: RajdhaniBold;
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 1.5rem;
}