@import '../styles/shared.scss';

:root {
    --selection-content-text-color: black;
    // --portal-background-color: white;
}

.selection-content{
    align-content: center;
    margin-top: 15vh;
}

.selection-categories {
    text-align: center;
    width: 50%;
    margin: auto;
}

.selection-category {
    margin: 20px;
    display: inline-flex;
    height: 125px;
    width: 275px;
    box-shadow: 2px 2px 5px -2px rgb(78, 78, 78); 
    background-color: whitesmoke;
    border-radius: 15px;
}

.selection-category-content-done {
    background-color: gray;
}

.selection-category-pic {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

.selection-category-text {
    font-size: 28px;
    width: 100%;
    font-family: RajdhaniBold;
    padding: 20px;
    margin-top: 20px;
    color: var(--selection-content-text-color);
}

.selection-category:hover {
    text-decoration: none;
    box-shadow: 1px 1px 20px -1px rgb(78, 78, 78); 
}

