@import '../styles/shared.scss';

/* Signup */
@font-face {
    font-family: MontserratRegular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: RajdhaniRegular;
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: RajdhaniBold;
    src: url(../fonts/Rajdhani/Rajdhani-Bold.ttf);
}

body {
    background-color: #a586c5 !important;
}

h5 {
    color: white;
    font-family: RajdhaniBold;

}

.form-label {
    width: 100%;
    margin: .5rem 2.5rem;
    text-align: center;
}

.signup-title {
    text-align: center;
    color: $primary-brown;
    font-size: 32px;
    font-family: MontserratBold;
    color: white;
    margin-top: 1.25rem;
}

.signup-region {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.column {
    margin: .5rem .5rem;
    width: 100%;
}

.flexbox {
    margin: .5rem 1rem;
}

.signup-button {
    background-color: #f5bf53;
    color: white;
    text-align: center;
    padding: 12px 35px;
    font-size: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(68, 68, 68, 0.6);
    border: none;
    font-family: RajdhaniBold;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

.error {
    border: 3px solid red;
}
