@import '../styles/shared.scss';

/* Signup */
@font-face {
    font-family: MontserratRegular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: RajdhaniRegular;
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: RajdhaniBold;
    src: url(../fonts/Rajdhani/Rajdhani-Bold.ttf);
}

h2 {
    color: white;
    font-size: 20px;
    padding: 15px 0px 5px 0px;
}

.form-label {
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
}

.signup-title {
    text-align: center;
    color: $primary-brown;
    font-size: 32px;
    font-family: MontserratBold;
    color: white;
}

.signup-button {
    background-color: #f5bf53;
    color: white;
    text-align: center;
    padding: 12px 35px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(68, 68, 68, 0.6);
    border: none;
    font-family: RajdhaniBold;
    width: 50%;
}



// .signup-avatar-container {
//     // .flexbox;
//     flex-direction: column;
// }

// .signup-avatars {
//     // .flexbox;
//     overflow-x: auto;
//     min-height: 200px;
//     padding: 20px;
// }

// .signup-avatar {
//     height: 150px;
//     margin: 10px;
//     transition: all 0.4s ease-in-out;

//     &:hover {
//         transform: scale(1.20);
//     }
// }

// .signup-avatar-selected {
//     transform: scale(1.20);
//     background-color: $secondary-gray;
//     border: 1px solid $primary-brown;
// }

// .signup-avatar-radio {
//   margin: 0 auto !important;
//   display: none;
// }

.error {
    border: 3px solid red;
}
