.title {
    font-family: MontserratBold;
    font-size: 30px;
    font-weight: bold;
    color: #79b4b3;
    text-align: center;
    padding-top: 20px;
}

.sub-title {
    font-size: 18px;
    font-weight: lighter;
    color: #201d1a;
    text-align: center;
    font-family: RajdhaniRegular;
}

.story-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 50px;
}

.card {
    width: 250px;
    height: 300px;
    margin: 40px;
    border-radius: 10px !important;
    border: none !important;
}

.cardImg {
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    background-color: #79b4b3;
}

.cardBody {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #79b4b3;
    font-family: RajdhaniBold;
}