#stories-home {
    display: inline-flex;
    width: 100%;
    /*position: absolute;*/
    /*top: 0;*/
  } 
  
  .stories-story {
    background-color: #bcd9d9;
    align-content: center;
  }
  
  .stories-story-section {
    width: 50%;
    padding: 15px;
    width: 900px;
  }
  
  .stories-story-section-story {
    font-family: RajdhaniRegular;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 10px -2px #79b4b3;
  }
  
  .stories-story-paragraph {
    text-indent: 60px;
  }
  
  .stories-story-divider {
    margin: 0 5px;
    width: 10px;
  }
  
  .stories-story-section-questions-title {
    font-size: 140%;
    font-family: RajdhaniBold;
    color: #79b4b3;
  }
  
  .stories-story-section-questions {
    font-family: RajdhaniRegular;
    margin: auto;
    margin-top: 40px;
    column-count: 2;
  }
  
  .submit-questions {
    column-span: all;
    align-content: center;
  }
  
  /* Scrollbar
  .stories-story-section::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px; }
  
  .stories-story-section::-webkit-scrollbar-thumb {
    background-color: green;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.07); }
  
  .stories-story-section::-webkit-scrollbar-track {
    background-color: white;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 4px; } */
  
  /* Vocab words */
  .stories-vocab {
    position: relative;
  }
  
  .stories-vocab-word {
    font-family: RajdhaniBold;
    font-weight: bolder;
    font-size: 20px;
  }
  
  .stories-vocab-def {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 9;
    background-color: white;
    border: 1px solid black;
    padding: 4px;
    text-indent: 0;
  }
  
  .stories-vocab:hover .stories-vocab-def {
    display: block;
  }
  