/* Menu */
.portal-menu {
  text-align: center;
  z-index: 9; /* TODO constant for this? */
  /* width: $menu-width; */
}

.portal-menu-item {
  padding-left: 30px;
  padding-top: 10px;
  font-family: RajdhaniBold;
  text-align: center;
}

.menu-items {
  position: absolute;
  right: 0px;
  display: flex;
  padding-right: 40px;
}

.portal-title {
  line-height: 72px;
  font-size: 72px;
  text-align: center;
  font-family: MontserratBold;
  color: white;
  padding: 20px;
}

.portal-header {
  width: 100%;
  display: flex;
  background-color: $menu-bar;
}

//pages
.portal-menu-item-activities {
  color: $activities-color;
}

.portal-menu-item-materials {
  color: $materials-color;
}

.portal-menu-item-help {
  color: $help-color;
}

.portal-menu-item-about {
  color: $about-color;
}

.portal-menu-item-profile {
  color: $profile-color;
}

.portal-menu-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 5px;
}
