.register-decr {
    text-align: center;
    font-family: "Rajdhani";
    color: #908E8D;
    padding-bottom: 30px;
}

.login-link {
    font-family: "Rajdhani";
    color: #908E8D !important;
    font-weight: 600;
}

.pre-auth {
    margin:auto;
    width: 80%;
    position: relative;
}

.input-title {
    margin-bottom: 30px;
    font-size: 20px;
    color: #F5BF53;
    font-weight: 600;
    font-family: "Rajdhani";
}