.story-container {
  width: 80%;
  margin: auto;
  padding: 5% 5%;
}

.stories-story-title {
  text-align: center;
}

.stories-story-section-story {
  font-family: Rajdhani;
}

.stories-story-section-questions {
  font-family: Rajdhani;
}

/* Scrollbar
  .stories-story-section::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px; }

  .stories-story-section::-webkit-scrollbar-thumb {
    background-color: green;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.07); }

  .stories-story-section::-webkit-scrollbar-track {
    background-color: white;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 4px; } */

/* Vocab words */
.stories-vocab {
  position: relative;
}

.stories-vocab-word {
  font-weight: bolder;
}

.stories-vocab-def {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 9;
  background-color: white;
  border: 1px solid black;
  padding: 4px;
  text-indent: 0;
}

.stories-vocab:hover .stories-vocab-def {
  display: block;
}
