.activities-category {
  .resources-category;

  background-image: url(../images/activities-page-box.png);
}

/* Word Search */

.wordsearch-grid {
  width: 60%;
}

.wordsearch-row {
  width: 100%;
  display: inline-flex;
}

.wordsearch-letter {
  margin: 5px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.wordsearch-letter-start {
  background-color: green;
}

.wordsearch-words {
  width: 40%;
}