.profile-avatar {
    width: 50%;
}

.profile-avatar-img {
    width: 80%;
    margin: 0 auto;
}

.profile-details {
    width: 50%;
    font-family: titleFont;
}

.profile-detail {
    font-size: 40px;
    font-family: menuFont;
}
.profile-progress{
text-align: left;
padding-top: 15%;
}
.customize{
  width: 140px;
  height: 40px;
  margin: 140px;
  margin-top:1px;
  text-align:center;
  background-color: @menu-profile;
}
//FOR CUSTOMIZATION PAGE
.boxset{
  background-color: inherit;
}
.box1{
 background-color: white;
 margin-right: 90px;
 width: 120px;
 //height:40px;
 text-align: center;
 border-radius: 100px;
 border:2px solid purple;
 display: table-cell;
 padding: 10px;
 opacity: 1;
}
.box2 {
  background-color: white;
  margin-right: 100px;
  width: 100px;
  height:40px;
  text-align: center;
  border-radius: 100px;
  border:2px solid LightGreen;
  display: table-cell;
  padding: 15px;
  opacity: 1;

}
.box3{
  background-color: white;
  margin-right: 125px;
  width: 100px;
  height:40px;
  text-align: center;
  border-radius: 100px;
  border:2px solid Teal;
  display: table-cell;
  padding: 20px;
  opacity: 1;
}
.box1:hover{
  opacity: 0.5;
}
.box2:hover{
  opacity: 0.5;
}
.box3:hover{
  opacity: 0.5;
}
