.profile-avatar {
    width: 50%;
}

.profile-avatar-img {
    width: 80%;
    margin: 0 auto;
}

.profile-details {
    width: 50%;
    font-family: titleFont;
}

.profile-detail {
    font-size: 40px;
    font-family: menuFont;
}
.profile-progress{
text-align: left;
padding-top: 15%;
}
.customize{
  background: purple;
  width: 140px;
  height: 40px;
  text-align:center;
  background-color: @menu-profile;
}
//FOR CUSTOMIZATION PAGE
.boxset{
  background-color: gray;
  //display:inline-flex;
}
.box {
 background: #2db34a;
 float: left;
 margin: 1.858736059%;
 width: 29.615861214%;
}
