/* Resources */

.resources-banner {
  width: 100%;
  background-color: #9bd1e8;
  height: 130px;
  line-height: 130px;
  margin-bottom: 25px;

  font-size: 40px;
  text-align: center;
}
.resources-categories {
  width: 100%;
  display: inline-flex;
}
.resources-category {
  height: 200px;
  width: 200px;
  line-height: 200px;

  background-color: orange;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
}

/* Stories */

.stories-content {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
}

#stories-home {
  display: inline-flex;
  width: 100%;
  /*position: absolute;*/
  /*top: 0;*/
}

.stories-choose-story {
  margin: 10px;
  height: 150px;
  width: 150px;
  line-height: 150px;
  text-align: center;
  background-color: lightseagreen;
  cursor: pointer;
  margin: 0 auto;
}

#stories-story {
  display: none;
  /*position: absolute;
  top: 0;*/
}

.stories-story-section {
  width: 50%;
  border: 1px solid black;
  padding: 15px;
}
