/* Resources */

.resources-banner {
  width: 100%;
  background-color: #9bd1e8;
  height: 130px;
  line-height: 130px;
  margin-bottom: 25px;

  font-size: 40px;
  text-align: center;
}

.resources-categories {
  text-align: center;
  display: inline-flex; //block;
 	width: 100%;
  // border: 1px solid black;
}

.resources-category-container {
  margin: 0 auto;
  display: inline-flex;
}

.resources-category {
  margin: 15px;
  display: /*inline-*/block;

  height: 200px;
  width: 200px;

  // background-image: url(../images/resources-page-box.png);
  // background-size: contain;
  // background-color: @orange;
  border: 10px solid @primary-brown;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}

.resources-category-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.resources-category-pic {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.resources-category-text {
  margin: auto;
  font-size: 32px;
  color: white;
}
