@import "colors.less";
@import "fonts.less";

div {
  font-family: contentFont;
  font-size: 18px;
}

a, a:focus, a:hover, a:visited {
  // color: inherit;
  text-decoration: none;
}

.flexbox {
  display: flex;
}

@import "menu.less";

#portal-content {
  padding: 6.5%;
  /*background-image: url(../images/home-border.png);
  background-size: 100%;
  background-repeat: no-repeat;*/
  position: relative;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
}

#portal-background-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#portal-background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#portal-background-left {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

#portal-background-right {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -2;
}

#portal-header {
  width: 100%;
  display: flex;
  // position: relative;
  min-height: 100px;
  max-height: 100px;
}

.portal-title {
  margin: 0 auto;
  // width: 100%;
  line-height: 86px;
  font-size: 86px;
  text-align: center;
  font-family: titleFont;
  color: @primary-brown;
}

.portal-title-home {
  line-height: 80pt;
  font-size: 80pt;
}

.portal-back {
  // position: absolute;
  // top: 0;
  // right: 4%;
  width: @menu-width;
  text-align: center;
}

.portal-back-text {
  line-height: 18px;
}

.portal-back-arrow {
  height: 80px;
}

.portal-body {
  /*display: inline-block;*/
  margin-top: 6%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  position: relative;
}

.filler {
  text-align: center;
  font-size: 100px;
}

/* Home */

.home-section-title {
  font-size: 18pt;
  text-align: center;
  color: @primary-green;
}

.home-section-content {
  font-size: 16pt;
  text-align: center;
}

.home-next-activity {
  padding: 16px;
  margin: 4px;
  box-shadow: 1px 1px 2px;
  border: 1px solid @primary-brown;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:active {
    box-shadow: 0;
  }

  &:hover {
    background-color: @primary-brown;
    color: white;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.7);
  }
}

.home-section-progress {
  margin: 0 50px;
}

.home-section-progress-image {
  width: 100%;
}

.home-avatars {
  position: absolute;
  bottom: 0;
  left: 0;
}

.home-avatar {
  width: 100px;
}

.achievements-section-medal-image {
    width: 30%;
    display: block;
    margin: auto;
}
.home-section-title.red-font {
  color: @primary-red;
}.home-section-title.pink-font {
  color: @primary-pink;
}.home-section-title.yellow-font {
  color: @primary-yellow;
}.home-section-title.blue-font {
  color: @primary-blue;
}


@import "resources.less";
@import "activities.less";
@import "stories.less";
@import "access.less";
@import "templates.less";