@import "colors.less";
@import "fonts.less";

div {
  font-family: contentFont;
  font-size: 18px;
}

a, a:focus, a:visited {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

.flexbox {
  display: flex;
}

#portal-content {
  padding: 6%;
  /*background-image: url(../images/home-border.png);
  background-size: 100%;
  background-repeat: no-repeat;*/
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#portal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#portal-header {
  width: 100%;
  position: relative;
}

.portal-title {
  width: 100%;
  line-height: 64pt;
  font-size: 64pt;
  text-align: center;
  font-family: titleFont;
  color: @primary;
}

.portal-title-home {
  line-height: 80pt;
  font-size: 80pt;
}

.portal-body {
  /*display: inline-block;*/
  margin-top: 4%;
  overflow-y: auto;
  overflow-x: hidden;
  /*width: 100%;*/
}

/* Back button */

.portal-back {
  position: absolute;
  top: 0;
  right: 4%;
  text-align: center;
  font-size: 24px;
}

.portal-back-arrow {
  height: 80px;
}

/* Home */

/*.home-section {
  border: 1px solid black;
} */

.home-section-title {
  font-size: 18pt;
  text-align: center;
  color: @primary;
}

.home-section-content {
  font-size: 16pt;
  color: @secondary;
  text-align: center;
}

.home-section-progress {
  margin: 0 50px;
}

.home-section-progress-image {
  width: 100%;
}

/* Volunteer access */

.volunteer-access-question {
  width: 100%;
  border: 5px solid orange;
  margin: 3% 0;
}

.volunteer-access-text {
  width: 100%;
  border: 0;
  resize: none;
}

.volunteer-access-comments {
  width: 100%;
  border: 5px solid red;
  margin: 3% 0;
}

.volunteer-access-submit-area {
  display: inline-flex;
  width: 100%;
}

.volunteer-access-file {
  margin-right: auto;
}

.volunteer-access-submit {
  margin-left: auto;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}

@import "resources.less";
@import "stories.less";
@import "menu.less";