@font-face {
  font-family: edoFont;
  src: url(../fonts/edo.ttf);
}

@font-face {
  font-family: cabinSketch;
  src: url(../fonts/cabinSketch.ttf);
}

.portal-content {
  /*border: 40px solid blue;*/
  background-image: url(../images/home-border.png);
  background-size: 5120px 2840px;
  background-repeat: no-repeat;
}

.portal-header {
  font-size: 375pt;
  text-align: center;
  width: 100%;
  font-family: edoFont;
}

.portal-body {
  height: 100%;
  font-family: cabinSketch;
}

.portal-section {
  font-size: 48pt;
  text-align: center;
}

.resources-title {
  font-size: 64pt;
  text-align: right;
  width: 100%;
  text-transform: uppercase;
  font-family: cabinSketch;
}
