@font-face {
  font-family: edoFont;
  src: url(../fonts/edo.ttf);
}

@font-face {
  font-family: gochi;
  src: url(../fonts/gochi.ttf);
}
@font-face {
  font-family: marker;
  src: url(../fonts/PermanentMarker.ttf);
}


div {
  font-family: gochi;
  font-size: 18px;
}

.portal-content {
  padding: 6%;
  background-image: url(../images/home-border.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.portal-header {
  position: relative;
  width: 100%;
}

.portal-title {
  width: 100%;
  line-height: 64pt;
  font-size: 64pt;
  text-align: center;
  font-family: edoFont;
  color: #35b729;
}

.portal-title-home {
  line-height: 80pt;
  font-size: 80pt;
}

.portal-body {
  /*display: inline-block;*/
  height: auto;
  padding-top: 4%;
  /*width: 100%;*/
}

/* Menu */

.portal-menu {
  position: absolute;
  top: 60;
  left: 150;
  text-align: center;
  z-index: 9; /* TODO constant for this? */
}

#menu-content {
  display: none;
}

.portal-menu-title {
  font-size: 24px;
  cursor: pointer;
  image: <img src = "/images/blue_magnet.png"/>
}

.portal-menu-content {
  background-color: white;
  border: 3px outset white;
  width: 250px;
}

.portal-menu-item {
  height: 50px;
  font-size: 13.5pt;
  margin: 5px 15px;
  border-bottom: 5px solid gray;
  text-transform: uppercase;
  font-family: marker;
}

.portal-menu-item-resources a {
  color: #b760e6;
}

.portal-menu-item-activities a{
  color: #5271ff;
}

.portal-menu-item-access a {
  color: #ff5c5c;
}

.portal-menu-item-profile a {
  color: #ffbd4a;
}

.portal-menu-item-home a {
  color: #35b729;
}
/* Back button */

.portal-back {
  position: absolute;
  top: 0;
  right: 4%;
  text-align: center;
  font-size: 24px;
}

/* Login */

/*.home-section {
  border: 1px solid black;
} */

.home-section-title {
  font-size: 18pt;
  text-align: center;
  color: #35b729;
}

.home-section-content {
  font-size: 16pt;
  color: #99e265;
}

/* Volunteer access */

.volunteer-access-question {
  width: 100%;
  border: 5px solid orange;
  margin: 3% 0;
}

.volunteer-access-text {
  width: 100%;
  border: 0;
  resize: none;
}

.volunteer-access-comments {
  width: 100%;
  border: 5px solid red;
  margin: 3% 0;
}

.volunteer-access-submit-area {
  display: inline-flex;
  width: 100%;
}

.volunteer-access-file {
  margin-right: auto;
}

.volunteer-access-submit {
  margin-left: auto;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
